body {
    background-color: rgb(254, 250, 239) !important;
    font-family: 'Rubik', sans-serif !important;
}

.container {
    background-color: rgb(254, 250, 239) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    border: unset !important;
    --bs-card-spacer-x: 5rem !important; 
    --bs-card-title-spacer-y: 1.5rem !important;
}

.quiz-card {
    width: 40rem;
    box-shadow: 0px 0px 10px -3px rgb(0 0 0 / 20%);
    background-color: #f7f7f7 !important;
}

.change-question-card {
    width: 40rem;
}

.left-right-arrows {
    display: flex;
    justify-content: space-between;
}

.left-right-arrows img {
    border-radius: 100%;
    background-color: #D9DEF1;
    height: 36px;
    padding: 8px;
    object-fit: contain;
    cursor: pointer;
}

.bg-navbar {
    background-color: #27355C;
    display: flex;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem 0 0 0.375rem;
    box-shadow: 1px 0px 2px 0px rgb(0 0 0 / 20%);
}

.navbar-logo {
    position: absolute;
    top: 0;
    height: 64px !important;
    width: 3rem;
    object-fit: contain;
}

.card-body-content {
    background-color: white;
    display: flex;
    position: relative;
}

.card-body-content:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.card-body-choice {
    background-color: #d6d6d6;
    color: black !important;
    font-weight: bold;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    text-align: center;
    margin-top: var(--bs-card-title-spacer-y);
    font-size: medium;
}

.list-group {
    --bs-list-group-item-padding-x: 2rem !important;
    --bs-list-group-bg: unset !important;
    width: 100%;
}

.list-group-item {
    color: #cbcbcb !important;
    border: unset !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 12px 0;
    border-left: solid 4px !important;
    border-color: transparent !important;
    padding-left: 1.5rem !important;
}

.list-group-item.active {
    color: white !important;
    background-color: unset !important;
    border-left: solid 4px !important;
    border-color: white !important;
    margin-top: 12px !important;
}

.progress {
    border-radius: unset !important;
    background-color: #AEAEAC !important;
    height: 0.75rem !important;
}

.progress-bar {
    background-color: #27355C !important;
    border-radius: 0 0.75rem 0.75rem 0;
}

.bg-right-answer {
    background-color: rgba(0, 255, 0, 0.5) !important;
}